* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* HEADER */
header {
    background-color: #111;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    transition: 0.3s;
}

header a:hover {
    color: #00bcd4;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #00bcd4, #2196f3);
    color: white;
}

/* SEÇÕES */
section {
    padding: 60px 20px;
    text-align: center;
}

/* PROJETOS */
.projetos .card {
    background-color: white;
    padding: 30px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.projetos .card:hover {
    transform: translateY(-5px);
}

.projetos a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #2196f3;
    font-weight: bold;
}

/* CONTATO */
.contato a {
    text-decoration: none;
    font-size: 18px;
    color: #111;
    font-weight: bold;
}

/* FOOTER */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
.cards-container {
    display: flex;
    justify-content: center; /* centraliza */
    gap: 30px; /* espaço entre os cards */
}

.card {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}